# {{ ansible_managed }}

user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid {{ nginx_pid }};
error_log {{ nginx_error_log }} {{ nginx_error_log_level }};

{% for directive in nginx_extra_main_directives %}
{{ directive }}
{% endfor %}

events {
    worker_connections {{ nginx_worker_connections }};
    multi_accept {{ nginx_multi_accept }};
{% for directive in nginx_extra_events_directives %}
    {{ directive }}
{% endfor %}
}

http {
    ##
    # Basic Settings
    ##
    sendfile {{ nginx_sendfile }};
    tcp_nopush {{ nginx_tcp_nopush }};
    tcp_nodelay {{ nginx_tcp_nodelay }};
    keepalive_timeout {{ nginx_keepalive_timeout }};
    keepalive_requests {{ nginx_keepalive_requests }};
    types_hash_max_size {{ nginx_types_hash_max_size }};
    server_tokens {{ nginx_server_tokens }};
    client_max_body_size {{ nginx_client_max_body_size }};

    include {{ nginx_conf_dir }}/mime.types;
    default_type application/octet-stream;

{% if nginx_proxy_websocket_headers | length > 0 %}
    ##
    # WebSocket upgrade map
    ##
    map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
    }

{% endif %}
    ##
    # Logging
    ##
{% for name, format in nginx_log_formats.items() %}
    log_format {{ name }} '{{ format }}';
{% endfor %}
    access_log {{ nginx_access_log }}{% if nginx_access_log_format %} {{ nginx_access_log_format }}{% endif %};

    ##
    # Gzip
    ##
{% if nginx_gzip == "on" %}
    gzip {{ nginx_gzip }};
    gzip_vary {{ nginx_gzip_vary }};
    gzip_proxied {{ nginx_gzip_proxied }};
    gzip_comp_level {{ nginx_gzip_comp_level }};
    gzip_min_length {{ nginx_gzip_min_length }};
    gzip_types
{% for type in nginx_gzip_types %}
        {{ type }}{{ ";" if loop.last else "" }}
{% endfor %}
{% endif %}

{% for directive in nginx_extra_http_directives %}
    {{ directive }}
{% endfor %}

    ##
    # Virtual Host Configs
    ##
    include {{ nginx_conf_dir }}/{{ nginx_conf_d_include }};
    include {{ nginx_conf_dir }}/{{ nginx_sites_enabled_include }};
}

{% if nginx_stream_enabled | bool %}
stream {
    include {{ nginx_conf_dir }}/conf.d/stream.conf;
}
{% endif %}
