# {{ ansible_managed }}
# Virtual host: {{ item.name }}

server {
    listen {{ item.listen | default('80') }};
{% if item.listen_ipv6 is defined %}
    listen {{ item.listen_ipv6 }};
{% endif %}

{% if item.server_name is defined %}
    server_name {{ item.server_name }};
{% endif %}

{% if item.root is defined %}
    root {{ item.root }};
{% endif %}
{% if item.index is defined %}
    index {{ item.index }};
{% endif %}

{% if item.access_log is defined %}
    access_log {{ item.access_log }};
{% endif %}
{% if item.error_log is defined %}
    error_log {{ item.error_log }};
{% endif %}

{% if item.ssl | default(false) | bool %}
    ssl_certificate {{ item.ssl_certificate }};
    ssl_certificate_key {{ item.ssl_certificate_key }};
    include {{ nginx_conf_dir }}/snippets/ssl_params.conf;
{% endif %}

{% for directive in item.extra_directives | default([]) %}
    {{ directive }};
{% endfor %}

{% for location in item.locations | default([]) %}
    location {{ location.match }} {
{% if location.root is defined %}
        root {{ location.root }};
{% endif %}
{% if location.alias is defined %}
        alias {{ location.alias }};
{% endif %}
{% if location.proxy_pass is defined %}
        include {{ nginx_conf_dir }}/snippets/proxy_params.conf;
        proxy_pass {{ location.proxy_pass }};
{% endif %}
{% if location.websocket | default(false) | bool %}
{% for header in nginx_proxy_websocket_headers %}
        {{ header }};
{% endfor %}
{% endif %}
{% for directive in location.directives | default([]) %}
        {{ directive }};
{% endfor %}
    }

{% endfor %}
}
